#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link{
  padding: 0.5rem 2rem;
  border: 1px solid orange;
  border-radius: 14px;
  color: white;
  margin: 1rem;
  background-color: orangered;
  display: block;

  &:hover{
    color: orangered;
    background-color: orange;
  }
}
